<div class="detail-container">
  <div class="container-nome">
    <h3 class="detail-nome">{{nemico.nome}}</h3>
  </div>
  <div class="container-flex">
    <div class="container-immagine">
      <img class="detail-image" src="{{nemico.immagine}}">
    </div>
    <table class="detail-list">
      <tbody>
        <tr>
          <th class="detail-nome-riga">Descrizione</th>
          <td><div class="linea-verticale"></div></td>
          <td class="detail-descrizione">{{nemico.descrizione}}</td>
          <hr>
        </tr>
        <tr>
          <th class="detail-nome-riga">Area</th>
          <td><div class="linea-verticale"></div></td>
          <td class="detail-area">{{nemico.area}}</td>
          <hr>
        </tr>
        <tr>
          <th class="detail-nome-riga">Debolezza</th>
          <td><div class="linea-verticale"></div></td>
          <td class="detail-debolezza">{{nemico.debolezza}}</td>
          <hr>
        </tr>
      </tbody>
    </table>
  </div>
</div>
