<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark">
    <div class="container-fluid">
      <div class="container-logo">
        <img src="../../../assets/images/TheSoulsBorneLogo.png" class = "icona-soulsborne" routerLink="home">
          <h2 class="nome-brand"><i class="nome-brand-the">The</i>Ashen Guide</h2>
      </div>
      <div class="container-navbar">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav pulsanti">
            <li class="nav-item">
              <a class="nav-link active testo" aria-current="page" routerLink="home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link testo" routerLink="nemici">Nemici</a>
            </li>
            <li class="nav-item" *ngIf="authService.isLogged()">
              <a class="nav-link testo" routerLink="/nemici/aggiungi-nemico">Aggiungi nemico</a>
            </li>
            <li class="nav-item">
              <a class="nav-link testo" routerLink="aree">Aree</a>
            </li>
            <li class="nav-item" *ngIf="authService.isLogged()" >
              <a class="nav-link testo" routerLink="/aree/aggiungi-area">Aggiungi area</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link testo" routerLink="equip">Armi e Armature</a>
            </li>
            <li class="nav-item">
              <a class="nav-link testo" routerLink="contatti">Contatti</a>
            </li>
            <li class="nav-item">
            <div class="search">
              <input type="search" class="search-form" placeholder="Ricerca..." [(ngModel)]="ricerca" (keyup.enter)="result()">
              <button class="search-button" (click)="result()"><mat-icon class="lente">search</mat-icon></button>
            </div>
            </li>
            <li class="nav-item user" *ngIf="!authService.isLogged()">
              <a class="nav-link testo" routerLink="login">Accedi</a>
            </li>
            <li class="nav-item user" *ngIf="authService.isLogged()">
              <span class="name">Ciao {{user.username}}</span>
              <a class="nav-link testo" routerLink="profile"> - PROFILO</a>
              <a class="nav-link testo" (click)="logOut()"> - ESCI</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
