<header>
<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-red">
  <div class="container-fluid">
    <img src="../../../assets/images/TheSoulsBorneLogo.png" class = "icona-soulsborne">
    <a class="navbar-brand colore-testo" href="#">The Ashen Guide</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active colore-testo" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nemici</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Aree</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Armi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Armature</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Build</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contatti</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</header>
