<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark">
    <div class="container-fluid">
      <div class="container-logo">
        <img src="../../../assets/images/TheSoulsBorneLogo.png" class = "icona-soulsborne" routerLink="home">
          <h2 class="nome-brand"><i class="nome-brand-the">The</i>Ashen Guide</h2>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav pulsanti">
          <li class="nav-item">
            <a class="nav-link active testo" aria-current="page" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link testo" routerLink="nemici">Nemici</a>
          </li>
          <li class="nav-item">
            <a class="nav-link testo" href="#">Aree</a>
          </li>
          <li class="nav-item">
            <a class="nav-link testo" href="#">Armi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link testo" href="#">Armature</a>
          </li>
          <li class="nav-item">
            <a class="nav-link testo" href="#">Build</a>
          </li>
          <li class="nav-item">
            <a class="nav-link testo" routerLink="registrazione">Registrati</a>
          </li>
          <li class="nav-item">
            <a class="nav-link testo" href="#">Contatti</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
