header {
  background-color: black!important;
  display: flex !important;
}

.icona-soulsborne{
  width: 60px;
  margin-right: 5 px;
}

.container-logo {
  display: flex;
  align-items: center;

  .nome-brand-the {
    color: #9B3814;
    text-decoration: none;
    font-size: 10px;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
    margin-top: 20px;
  }

  .nome-brand{
    color: #9B3814;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }
}

.testo{
  font-family: 'Cinzel Decorative', cursive;
}

 .pulsanti {
  display: flex-end;
  width: 100% !important;
}



