header {
  background-color: black!important;
  display: flex !important;
}

.icona-soulsborne{
  width: 60px;
  margin-right: 5 px;
}

.container-logo {
  display: flex;
  align-items: center;

  .nome-brand-the {
    color: #9B3814;
    text-decoration: none;
    font-size: 10px;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
    margin-top: 20px;
  }

  .nome-brand{
    color: #9B3814;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }
}

.container-navbar {
  margin-left: 60px;
}

.testo{
  font-family: 'Cinzel Decorative', cursive;
}

 .pulsanti {
  display: flex-end;
  width: 100% !important;
  margin-left: auto;
}

.search {
  display: flex;
  vertical-align: middle;
  margin-left: 10%;

  .search-form{
    height: 35px;
  }

  .search-form:focus {
    border: 3px solid #9B3814;
    outline: none;
  }

  .search-form:hover {
    border: 3px solid #582816;
  }

  .search-button {
    background-color: #9B3814;
    .lente {
      color: white;
    }
  }

}



li.nav-item.user {
  margin-left: 100px;
  border: 1px solid #ffffff42;
  border-radius: 8px;
  padding: 0px 20px;
  color: white;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;

  .logged{
    margin-bottom: 11px;
    margin-right: 3px;
  }

  a.nav.link {
    display: inline-block;
  }

  span.name {
    font-size: 17px;
  }

}

// li.nav-item.user.ng-star-inserted {
//   margin-left: 50px;
// }

@media only screen and (min-width: 320px) and (max-width: 375px) {
    .container-navbar{
      margin-left: 0px !important;

      button.navbar-toggler.collapsed {
        margin-left: 20%;
    }
      .search {
        margin-left: 0;
    }
    li.nav-item.user {
      margin-left: 0px;
      margin-top: 3%;
    }
  }
}

@media only screen and (min-width: 375px) and (max-width: 425px) {
  .container-navbar{
    margin-left: 0px !important;

    button.navbar-toggler.collapsed {
      margin-left: 20%;
  }
    .search {
      margin-left: 0;
  }
  li.nav-item.user {
    margin-left: 0px;
    margin-top: 3%;
  }
}
}

@media only screen and (min-width: 425px) and (max-width: 768px) {
  .container-navbar {
    margin-left: 0px;

    button.navbar-toggler.collapsed {
      margin-left: 20%;
  }

    .search {
      margin-left: 0;
  }
  li.nav-item.user {
    margin-left: 0px;
    margin-top: 3%;
  }
  }
}


