header {
  background-color: black!important;
  display: flex !important;
}

.icona-soulsborne{
  width: 60px;
  margin-right: 5 px;
}

.colore-testo{
  color: #9B3814;
}

 .pulsanti {
  display: flex;
  justify-content: end;
  width: 100% !important;
}



