<app-carousel></app-carousel>



  <div class="container-titolo">
    <h2>Benvenuto su
      <i class ="the">The</i>
      Ashen Guide
    </h2>
    <p class="paragrafo border"><i class = "iniziale">A</i>shen One, benvenuto nel nostro sito dedicato interamente a Dark Souls III. Qui troverai una vasta raccolta di guide su ogni area del gioco, dettagliate schede tecniche dei nemici e le migliori strategie per sconfiggerli, una lista completa di armi e armature disponibili in gioco e consigli preziosi sullo sviluppo del tuo personaggio. Siamo qui per aiutarti a superare ogni sfida che incontrerai lungo il cammino. Preparati ad immergerti nel mondo oscuro di Dark Souls III e a diventare un guerriero esperto.</p>
  </div>

  <div id="schede-nemici">
    <h2 class="titolo-schede">Le schede dei nemici</h2>
    <app-nemico-card [pag]="'home'" ></app-nemico-card>
  </div>

  <div id="schede-aree">
    <h2 class="titolo-schede">Le schede delle ambientazioni</h2>
    <app-area-card [pag]="'home'"></app-area-card>
  </div>


<ng-template [ngIf]="name">
  <div id="container-utente">
    <div id="dati-utente">
        <h2> {{name}}, siamo lieti di darti il benvenuto tra le creature di cenere, di seguito i tuoi dati di accesso.</h2>
        <ul>
          <li>Email: {{email}}</li>
          <li>Username: {{username}}</li>
        </ul>
        <button class ="close-button" (click)="closeModal()">Chiudi</button>
    </div>
  </div>
</ng-template>
