<app-header></app-header>
<app-carousel></app-carousel>

<div id="main-container">

  <div class="container-titolo">
    <h2 style="cursor: pointer">Benvenuto su The Ashen Guide </h2>
    <p class="paragrafo border">Ciao Ashen One, benvenuto nel nostro sito dedicato interamente a Dark Souls III. Qui troverai una vasta raccolta di guide su ogni area del gioco, dettagliate schede tecniche dei nemici e le migliori strategie per sconfiggerli, una lista completa di armi e armature disponibili in gioco e consigli preziosi sullo sviluppo del tuo personaggio. Siamo qui per aiutarti a superare ogni sfida che incontrerai lungo il cammino. Preparati ad immergerti nel mondo oscuro di Dark Souls III e a diventare un guerriero esperto.</p>
  </div>

  <!-- <div class="card-container">
    <div class="row">
      <div class="col-4">
        <div class="card">
          <img src="../../../assets/images/cane-famelico.jpg" class= "card-image">
          <h5>Titolo card</h5>
          <p>Breve descrizione della card</p>
          <a href="#" class="button">Pulsante</a>
        </div>
        <div class="card">
          <img src="../../../assets/images/cacciatore-di-licantropi.jpg" class= "card-image">
          <h5>Titolo card</h5>
          <p>Breve descrizione della card</p>
          <a href="#" class="button">Pulsante</a>
        </div>
        <div class="card">
          <img src="../../../assets/images/cacciatore-di-licantropi.jpg" class= "card-image">
          <h5>Titolo card</h5>
          <p>Breve descrizione della card</p>
          <a href="#" class="button">Pulsante</a>
        </div>
        <div class="card">
          <img src="../../../assets/images/cacciatore-di-licantropi.jpg" class= "card-image" >
          <h5>Titolo card</h5>
          <p>Breve descrizione della card</p>
          <a href="#" class="button">Pulsante</a>
        </div>
      </div>
    </div>
  </div> -->

</div>

<app-nemici></app-nemici>
<app-footer></app-footer>
