<app-carousel></app-carousel>

<div id="main-container">

  <div class="container-titolo">
    <h2>Benvenuto su
      <i class ="the">The</i>
      Ashen Guide
    </h2>
    <p class="paragrafo border"><i class = "iniziale">A</i>shen One, benvenuto nel nostro sito dedicato interamente a Dark Souls III. Qui troverai una vasta raccolta di guide su ogni area del gioco, dettagliate schede tecniche dei nemici e le migliori strategie per sconfiggerli, una lista completa di armi e armature disponibili in gioco e consigli preziosi sullo sviluppo del tuo personaggio. Siamo qui per aiutarti a superare ogni sfida che incontrerai lungo il cammino. Preparati ad immergerti nel mondo oscuro di Dark Souls III e a diventare un guerriero esperto.</p>
  </div>

  <div>
    <h2 class="schede-nemici">Le descrizioni dei nemici</h2>
    <app-nemico-card [nemici]="nemici" ></app-nemico-card>
  </div>
</div>

