.container-titolo{
  h2 {
    font-size: 35px;
    font-family: 'Abril Fatface', cursive;
    color: #9B3814;
    margin-top: 30px;
    text-align: center;
  };

  .paragrafo{
    font-size: 13px;
    text-align: justify;
  }

  #main-container{
    padding: 16px;
  }
}
