
.foto-nuovonemico{
  background-image: url('../../../../assets/images/immagine-sfondo-nuovo-nemico2.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 63%;
  padding-bottom: 25px;
  padding-top: 25px;
  border-radius: 0 20px 20px 0;
  margin-left: 1%;
  background-position: bottom;
}

.card-form {
  border: 5px solid #9B3814;
  width:75%;
  margin-left: 12.5%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.705);
  display: flex;


  h5{
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    color: #9B3814;
    font-weight: bold;
    text-align: center;
    text-shadow: black 2px 3px 3px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10px;
    padding-top: 18px;
  }

.container-input{
  display: flex;
  flex-direction: column;
  margin: 15px;

  .form-label{
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-shadow: black 2px 3px 3px;
    padding-top: 10px;
    margin-top: 5px;
  }

  textarea {
    width: 100%;
}

  input{
    width: 100%;
    height: 40px;
  }

  .insert-button{
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
    text-shadow: 0px 1px 1px #000;
    background-color: #333;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 0px #000;
    transition: all 0.1s ease-in-out;
    margin: 5% 0 0 22%;
    width: 50%;
    font-family: 'Cinzel Decorative', cursive;
  }

  .insert-button {
    background-color: #9B3814;
    box-shadow: 0px 2px 0px #6A1B09;
    transform: translateY(-2px);
  }

  .insert-button:active {
    background-color: #6A1B09;
    box-shadow: none;
    transform: translateY(0);
  }

}
}

input.ng-invalid.ng-touched{
  border: 2px solid red;
}

input.ng-valid.ng-touched{
  border: 2px solid rgb(7, 216, 7);
}

textarea.ng-invalid.ng-touched{
  border: 2px solid red;
}

textarea.ng-valid.ng-touched{
  border: 2px solid rgb(7, 216, 7);
}


.container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

div#container-nemico {
  background: #000000b0;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  top: 0px;
  z-index: 10;

  div#dati-nemico {
    background: white;
    width: 80%;
    height: 75%;
    border: 5px solid #9B3814;
    border-radius: 30px;
    padding: 16px;

    .testo-riepilogo {
      float: left;
      width: 50%;
      margin-right: 10%;
  }

  .foto-riepilogo {
    float: left;
    width: 40%;

    img.immagine-nemico {
      width: 80%;
      height: 350px;
  }
}

    h2 {
      font-size: 30px!important;
      text-align: center;
      font-family: 'Raleway', sans-serif;
      font-weight: bold;
    }

    ul {
      height: 90px;
      margin-top: 33px;
      font-size: 18px;
      list-style-type: none;
      li {
        line-height: 40px;
      }
    }

    .close-button {
      display: inline-block;
      padding: 15px 20px;
      font-size: 1.1rem;
      font-weight: bold;
      letter-spacing: 2px;
      color: #fff;
      text-shadow: 0px 1px 1px #000;
      background-color: #333;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 4px 0px #000;
      transition: all 0.1s ease-in-out;
      margin-top: 30px;
      font-family: 'Cinzel Decorative', cursive;
      width: 21%;
      margin-left: 20%;
  }

  .close-button {
    background-color: #9B3814;
    box-shadow: 0px 2px 0px #6A1B09;
    transform: translateY(-2px);
  }

  .close-button:active {
    background-color: #6A1B09;
    box-shadow: none;
    transform: translateY(0);
  }

  }
}

@media only screen and (min-width: 320px) and (max-width: 375px) {

  .card-form {
    flex-direction: column;

    }

    h5 {
      font-size: 24px !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
      margin-right: 0 !important;
    }

    input{
      width: 100% !important;
   }

   textarea {
     width: 100% !important;
   }

   .insert-button {

    margin-top: 10% !important;
    margin-left: 0% !important;
    width: 100% !important;

 }

   .foto-nuovonemico {
     width: 100%;
     padding-bottom: 50%;
     border-radius: 0px 0px 19px 19px;
     margin-left: 0;
 }

  .container {

    width: 100%;
  }

  }

  @media only screen and (min-width: 375px) and (max-width: 425px) {

    .card-form {
      flex-direction: column;

      }

      h5 {
        font-size: 24px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-right: 0 !important;
      }

      input{
        width: 100% !important;
     }

     textarea {
       width: 100% !important;
     }

     .insert-button {

      margin-top: 10% !important;
      margin-left: 0% !important;
      width: 100% !important;

   }

     .foto-nuovonemico {
       width: 100%;
       padding-bottom: 50%;
       border-radius: 0px 0px 19px 19px;
       margin-left: 0;
   }

    .container {

      width: 100%;
    }

    }

    @media only screen and (min-width: 425px) and (max-width: 768px) {

      .card-form {
        flex-direction: column;

        }

        h5 {
          font-size: 40px !important;
          padding-left: 0 !important;
          padding-right: 0 !important;
          margin-right: 0 !important;
          line-height: 1;
        }

        input{
           width: 100% !important;
        }

        textarea {
          width: 100% !important;
        }

        .insert-button {

          margin-top: 10% !important;
          margin-left: 0% !important;
          width: 100% !important;

      }

        .foto-nuovonemico {
          width: 100%;
          padding-bottom: 50%;
          border-radius: 0px 0px 19px 19px;
          margin-left: 0;
      }

      .container {

        width: 100%;
      }

      }



