<div class="foto-sfondo">

<div class="main-container">

  <h2 class="titolo">Ecco i tuoi dati</h2>

  <ul>
    <li class="dettaglio">Username: <span class="valore-dettaglio">{{user.username}}</span></li>
    <li class="dettaglio">Nome: <span class="valore-dettaglio">{{user.name}}</span></li>
    <li class="dettaglio">Cognome: <span class="valore-dettaglio">{{user.surname}}</span></li>
    <li class="dettaglio">Data di nascita: <span class="valore-dettaglio">{{user.birthdate | date}}</span></li>
    <li class="dettaglio">Sesso: <span class="valore-dettaglio">{{user.gender}}</span></li>
    <li class="dettaglio" >Email: <span class="valore-dettaglio">{{user.email}}</span></li>
    <li class="dettaglio">Ruolo: <span class="valore-dettaglio">{{user.role}}</span></li>
    <li class="dettaglio">Iscrizione: <span class="valore-dettaglio">{{data}}</span></li>
    <li class="dettaglio" >Ultima modifica: <span class="valore-dettaglio">{{aggiornamento}}</span></li>
  </ul>
</div>
