<div id="main-container">
  <h2>Aree</h2>
  <p Class="paragrafo border"><i class="iniziale">A</i>shen one, benvenuto nella sezione delle aree di gioco di Dark Souls 3. Qui potrai esplorare le terre più oscure e spaventose del gioco, e trovare le mappe dettagliate di ogni area, le immagini delle ambientazioni più terrificanti e il walkthrough completo per superare ogni ostacolo. Sii pronto ad affrontare la disperazione più profonda e scoprire i segreti più oscuri che questo mondo ha da offrire</p>
  <app-area-card></app-area-card>
</div>
