.card-container{
  display: block;
  float: left;
  width: 23%;
  margin-left: 1.5%;
  margin-bottom: 20px;

  .card{
    border-radius: 10px !important;
    height: 465px;
  }

  .card-image{
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0 0 !important;
  }

  .card-body{
    text-align: center;
    .card-title{
      font-weight: 700px;
      font-size: 20px;
      color: #9B3814;
      margin: 2px;
    }

    .card-text{
      text-align: justify;
      margin: 0 0 30px;
      font-family: 'Raleway', sans-serif;
    }

    a.btn.btn-primary {
      background-color: #9B3814;
      border: none;
      margin: auto;
      padding: 8px 35px;
  }

  }
}
