<div class="container-cards">
  <div class="container-pagination" *ngIf="pag != 'home'" >
    <div>
       <p class="titolo-paginatore"><strong>{{nemiciPerPagina}}</strong> Nemici  su un totale di <Strong>{{nemiciTotali}}</Strong> nemici, pagina corrente: <strong>{{page}}</strong></p>
    </div>
    <p-paginator (onPageChange)="paginate($event)" [rows]="nemiciPerPagina" [totalRecords]="nemiciTotali" (rowsPerPageOptionsChange)="nemiciPerPagina"></p-paginator>
  </div>

  <div class="card-container" *ngFor="let nemico of nemici | slice: (page * nemiciPerPagina) - nemiciPerPagina : page * nemiciPerPagina">
    <div class="card">
      <div class="card-image" [ngStyle]="{'background-image': 'url(' + nemico.immagine + ')'}"></div>
      <div class="card-body">
        <h5 class="card-title">{{nemico.nome}}</h5>
        <p class="card-text">
          <span [innerHTML]="nemico.descrizione| slice: 0:170">...</span>
        </p>
        <a class="btn btn-primary" routerLink="/nemici/dettaglio/{{nemico.nome}}/{{nemico._id}}">Visualizza</a>
        <a class="btn btn-primary delete" *ngIf="ruolo === 'admin'">Elimina</a>
      </div>
    </div>
  </div>
</div>

<ng-template [ngIf]="loading">
  <div class="loading">
    <img class="bonfire" src="../../../assets/images/bonfire.gif">
    <h2  class="text-loading">Loading...</h2>
  </div>
</ng-template>
