<div class="loading">
  <h2 class="titolo">PAGINA IN COSTRUZIONE</h2>
  <p class="text">Ashen one, ti ringraziamo per aver visitato la pagina "armi e armature" di "The Ashen Guide"! Attualmente stiamo lavorando alla pagina. Sappi che la pagina è ancora in fase di implementazione ma quando sarà pubblicata qui potrai trovare tutte le informazioni dettagliate su armi, armature ed oggetti. Ci stiamo impegnando al massimo per offrirti un'esperienza utile e completa. Nel frattempo, se hai domande o suggerimenti per migliorare la pagina, non esitare a <a class="contatti" routerLink="/contatti">contattarci</a>. Ringraziamo per la tua comprensione e il tuo supporto nella creazione di "The Ashen Guide". Continua a seguirci per aggiornamenti sulla pagina delle armi e armature</p>
  <img class="bonfire" src="../../../assets/images/bonfire.gif">
</div>
