.container-footer{
  background-color: black;
  float: left;
  width: 100%;
  margin-top: 30px;
  padding: 16px;

  footer{

    .container-flex {
       display: flex;
       justify-content: space-between;
    }

    .container-logo {
      display: flex;
      align-items: center;

      .nome-brand-the {
        color: #9B3814;
        text-decoration: none;
        font-size: 20px;
        font-family: 'Cinzel Decorative', cursive;
        font-weight: bold;
      }

      .nome-brand{
        color: #9B3814;
        text-decoration: none;
        font-size: 40px;
        font-family: 'Cinzel Decorative', cursive;
        font-weight: bold;
      }
    }

    .container-admin{

      margin-right: 100px;

      h3 {
        color: #9B3814;
        font-size: 20px;
        text-align: center;
        margin-top: 30px;
      }

      h5 {
        color: #FFFFFF8C;
        font-size: 15px;
        margin-top: 15px;
      }
    }

    .site-map{

      margin-right: 100px;

      h3 {
        color: #9B3814;
        font-size: 20px;
        text-align: center;
        margin-top: 30px;
      }

      .map-link{
      text-decoration: none;
      color: #FFFFFF8C;
      font-size: 15px;
      }
    }
  }

}




