<div class="container-footer">
  <footer>
    <div class="container-flex">
      <div class="container-logo">
        <img src="../../../assets/images/TheSoulsBorneLogo.png" class="icona-soulsborne">
        <h2 class="nome-brand" ><i class="nome-brand-the">The</i>Ashen Guide</h2>
      </div>
      <div class="container-admin">
        <h3>About us</h3>
        <h5>Indirizzo: via Filippo Verdi 10, Roma</h5>
        <h5>Email: theashenguide@gmail.com</h5>
        <h5>Telefono: 3490000000</h5>
      </div>
      <div class="site-map">
        <h3>Site Map</h3>
        <ul class="list">
          <li class="map-item">
            <a class="map-link" routerLink="home">Home</a>
          </li>
          <li class="map-item" >
            <a class="map-link" routerLink="nemici">Nemici</a>
          </li>
          <li class="map-item"  >
            <a class="map-link">Aree</a>
          </li>
          <li class="map-item" >
            <a class="map-link">Armi</a>
          </li>
          <li class="map-item" >
            <a class="map-link">Armature</a>
          </li>
          <li class="map-item" >
            <a class="map-link">Build</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>
