.container{
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0 !important;
}

footer{
  background-color: black;
}

.icona-soulsborne{
  width: 60px;
  margin-right: 5 px;

}

.py-3 {
  padding-top: 2px !important;
  padding-bottom: 0px !important;
}

.colore-testo{
  color: white;
}

.text-muted {
  --bs-text-opacity: 1;
  color: white !important;
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 0rem !important;
}

.container-xl, .container-lg, .container-md, .container-sm, .container {
  max-width: 100%!important;
}
